body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}

.container{
    flex:1;
}
/*Navbar*/
.navbar{
    height: 5rem;
    background-color:white;
}

.fa-compass{
     color:#fe424d;
     font-size:2rem;
}

.nav-link{
    color:#222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration:none;
    color:#222;
}
.f-info-links a:hover{
    text-decoration:underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand
{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.f-info-socials i
{
    font-size:1.2rem;
    margin-right:1rem;
}
.f-info
{
    text-align:center;
    height:8rem;
    background-color:#ebebeb;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:space-evenly;
}

/* Cards */
.listing-card
{
    border:none !important;
    margin-bottom:2rem;

}

.card-img-top{
    border-radius:1rem !important;
    width:100% !important;
    object-fit:cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight:400 !important;
}
.listing-link{
    text-decoration:none;
}

/* card effect */
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color:white;
}

/* New page */
.add-btn{
    background-color:#fe424d !important;
    border:none !important;
}
/* Edit page */
.edit-btn{
    background-color:#fe424d !important;
    border:none !important;
}

/* Show page */
.show-img{
    height:30vh;
}

.btns{
    display:flex;
}

.show-card {
    padding-left:0;
    padding-right:0;
}

/*Preview image*/
.image-preview-box {
  width: 100%;
  max-width: 320px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  background-color: #f8f9fa;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.image-preview-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 /* Map */

 #map {

    height:400px;
    width:80vh;
    border-radius: 10px;
 }
/* Popup container */
.mapboxgl-popup.listing-popup {
  max-width: 220px;
  font-family: "Poppins", sans-serif;
}

/* Popup box */
.mapboxgl-popup-content {
  background: #ffffff;
  border-radius: 16px;
  padding: 12px 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Title */
.popup-content h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #222;
}

/* Description */
.popup-content p {
  margin: 6px 0 0;
  font-size: 13px;
  color: #555;
}

/* Popup tip (arrow) */
.mapboxgl-popup-tip {
  border-top-color: #ffffff;
}
